<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
            <a href="#about-me">
              {% if page.lang == 'en' %}Homepage{% else %}首页{% endif %}
            </a>
          </li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a href="{{ link.url }}">
                {% if page.lang == 'en' %}
                  {{ link.title }}
                {% else %}
                  {{ link.title_zh | default: link.title }}
                {% endif %}
              </a>
            </li>
          {% endfor %}
          <!-- 中英文切换按钮 -->
          <li class="masthead__menu-item lang-switch">
            {% if page.lang == 'en' %}
              <a href="/zh/">中文</a>
            {% else %}
              <a href="/">English</a>
            {% endif %}
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
